@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}    

body{
   font-family: 'Roboto', sans-serif;
}
.header{
    background: fixed;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.menu-container{
    background-color: rgb(78, 73, 73);
    background-size: cover;
    min-height: 80px;
    display: flex;
    align-items: center;  
    margin-bottom: 0;
    max-width: 100%; 
}
.logo{
    display: inline-block;
    width: 100px;
    height: auto;
    vertical-align: medium;
    margin-left: 100px;
}
.Titulo-1{
    color: white;
    font-size: 16px;
    font-weight: normal ;
    margin-right: 400px;
}

.encabezado ul li{  
    position: relative;
    float: left;  
}

.encabezado ul li a{
    color: #8c8383;
    font-size: small;
    margin-right:10px; 
}
.encabezado ul li a:hover{
    color: aquamarine;  
}

.encabezado ul li#la-conferencia a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}
.encabezado ul li#la-conferencia a:hover{
    color: aquamarine;
}

.encabezado ul li#comprar-tickets a{
    color: rgb(24, 145, 24);
    text-decoration: none;
}

.encabezado ul li#comprar-tickets a:hover{
    color: aquamarine
}

.detalleEventoContainer{
    background-image: url(imagenes_integrador_front/ba1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;     
    color: white; 
    display: inline-block;
    text-align: justify;
    align-items: end;
}

.lugarEvento{   
    text-align: right;
    margin-top: 320px;
    margin-right: 150px;  
    font-weight: 500;
    position: ;
} 

.textoEvento{  
    text-align: right;
    margin-right: 150px;
    margin-left: 750px;
    font-size: medium;
    line-height: 1.7;
    font-weight: 500;
}   
 
.botones-con-estilo {
    margin-top: 40px;
    
    color: white;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    width: auto;
  
 }
.btn-1{
    margin-left: 870px;
    margin-right: 10px;
    color: white;
    text-align: right;   
    font-size: smaller;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 5px;
  
    text-decoration: none;
}
.btn-1:hover{
    background-color: aquamarine
}
   
.btn-2{   
    color: white;
    text-align: right;   
    font-size: smaller;
    background-color: rgb(32, 181, 32);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
   
}
.btn-2:hover{
    background-color: aquamarine
}   

.general{
    padding: 50px 20px;
    text-align: center;
}
.texto-1{
    font-size: small;
    font-weight: 300;
    margin-bottom: 10px;
}
.texto-2{
    font-size: x-large;
    font-weight: bold;
}
.general-content{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;   
}
.box{
    box-sizing: border-box;
    justify-content: space-between;
    border: 1px solid rgb(201, 198, 198);
   margin-right: 30px;
    overflow: hidden;   
    flex: 1;   
}
.box img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    margin-bottom: 20px; 
}

.botones{   
   display: inline;  
  align-content: left;
   padding: 20px 15px;
}
.btn-3{
    color: black;
    text-align: left;   
    font-size:smaller ;
    font-weight: bold;
    background-color: rgb(255, 217, 0);
    border: none;
    padding: 3px 7px;
    border-radius: 10px;
    margin-left: -190px;
    margin-bottom: 20px;
    text-decoration: none;
}
.btn-4{
    color: white;
    text-align: right;   
    font-size: smaller;
    background-color: rgb(32, 175, 211);
    border: none;
    padding: 3px 7px;
    border-radius: 5px;
    text-decoration: none;
    
}
.btn-5{
    color: white;
    text-align: right;   
    font-size:smaller ;
    font-weight: bold;
    background-color: grey;
    border: none;
    padding: 3px 7px;
    border-radius: 5px;
    margin-left: -190px;
    margin-bottom: 20px;
    text-decoration: none;
 }
.btn-6{
    color: white;
    text-align: right;   
    font-size:smaller ;
    font-weight: bold;
    background-color: red;
    border: none;
    padding: 3px 7px;
    border-radius: 5px;
    text-decoration: none;
 }

.nombre-izquierda{
       font-weight: normal;
       margin-top: 3px;
       margin-bottom: 15px;
       text-align: left;
       padding-left: 20px;      
}
     
.referencia{
    font-size: small;
    font-weight: 300;
    text-align: justify;
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
}
.info-tour-container{
    display: flex;
    width: 100%;
    margin-right: 0px;
   
   
}

.info-turistica{
    width: 50%;  
    color: white;   
    background-color: rgba(31, 33, 34, 0.787);
    vertical-align: 95%;
}    
.info-adicional{
    font-weight: normal ;
    margin-left: 15px;
    padding: 10px;
}
.referencia{
    font-size: small;
   margin-bottom: 20px;
}

.btn-7{
    margin-left: 15px;
    color: white;
    text-align: right;   
    font-size: x-small;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 5px; 
    text-decoration: none;
}
.btn-7:hover{
    background-color: aquamarine;
}
.carrousel {
    width:50%;
    overflow: hidden; 
    align-items: baseline;
    vertical-align: 100vh;
}

.grande{ 
    width: 400%;
    background-color: #555;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    @include neo( 1 , 1em , 1em );
    
} 
.img {
    width: calc(100% / 4);
    height: 100%;
    background-color: #555;
    
} 
.puntos {
    width: 100%;
    background-color: rgb(198, 205, 212);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
    
} 
.punto {
    width: 1em;
    height: 1em;
    background-color: aqua;
    margin: 1em 1em 0;
    border-radius: 50%;
} 
.punto.activo{
    background-color: rgb(205, 229, 51);
}

.formulario-container{
    max-width:100% ;
    padding: 50px 10px;
    text-align: center;
}
.invitacion{
    font-size: small;
    margin-bottom:15px ;
}
u{
    text-decoration: underline dotted black;
}
.text{
    text-align: left top;
}
.campo{
    border: 1px solid grey;
    padding: 5px 3px 5px ;
    width: 25%;
    margin-bottom: 10px;
    font-size: smaller;
}
.campo-2{
    width: 50%;
    height:100px;
    font-size: large;    
} 

.textarea{
    font-size: medium;
}   
.ultimo-parrafo{
    font-size: smaller;
   margin-right:475px;
   margin-top: 0px;
}

.btn-8{
    width: 50%;
    height: 40px;
    background-color: rgb(155, 222, 100);
    color: white;
    margin-top:15px ;
    font-size: medium ;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}
.btn-8:hover{
    background-color: aquamarine
}
.pie-de-pagina{
   background-color: rgb(8, 57, 72);
    background-size: cover;
    height: 70px;
    display: flex;
   justify-content: center;
    align-items: center;
    color: white;
}

.pie-de-pagina ul li{
    position: relative;
    float: left;   
    color: white;
    font-size: smaller;
}
.pie-de-pagina ul li a{
    color: white;
    font-size: smaller;
    padding-right:100px;
    text-justify: left;
    text-decoration: none;
}
.tickets-category{   
    display: flex;    
    align-items: center;
    justify-content: center;
    align-items: baseline;
    gap: 5px;    
   text-align:center; 
   margin: 10px; 
}
.estudiante{    
    border: 1.75px solid blue;
    padding: 20px;
   font-weight: lighter;
}
.trainee{
    border: 1.75px solid green;
    padding: 20px;
}
.junior {   
    border: 1.75px solid orange;
    padding: 20px;
}
.espaciado-medio{
    line-height: 2;
}
.tickets-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
.texto-chico{
    font-size: 15px;
    font-weight: lighter;
}
.tickets-form{
    display: flex;
    justify-content: left;
    max-width: 550px;
    flex-wrap: wrap;  
    row-gap: 10px;
    column-gap: 10px;
    align-content: center;
    min-height: max-content;
    margin: auto;
    flex-grow: 1;
    font-size: smaller #555;
    padding-bottom: 20px;
    gap: 10px;
}
.tickets-form:active{
    border-color: rgb(10, 94, 10);
}
.ticketsFirstName{
    width: 260px;
    font-size: smaller #555;
    line-height: 30px;

}
.ticketsLastName{
    width: 260px;
    font-size: smaller #555;
}
.ticketsEmail{
    width: 100%;
    height: 30px;
    font-size: smaller #555;
}
.ticketsQuantity{
    width: 260px;
    display: block;
    margin-left: 0 auto;
    height: 30px;
}
.ticketsCategory{
    width: 260px;
    display: block; 
    height: max-content;
    height: 30px;
}

.ticketsOutput{
    width: 100%;
    background-color: rgb(213, 238, 246);
    height: 40px;
    font-size: small;
    font-weight: 100;
    text-align: left center;
    padding-top: 10px;
}
.ticketsOutput:active{
    border-color: rgb(9, 39, 9);
}
.btntickets{
   width: 260px;
    background-color: rgba(148, 211, 21, 0.979);
    font-size: small;
   border-radius: 5px;
   border: none;
   height: 35px;
   color: white;
}
.btntickets:active{
    border-color: darkgreen;
}
